<!DOCTYPE html>

<html>

    <head>

   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/pin1.css" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
      
      $( function() {

  var $container = $('#container');

  $container.imagesLoaded( function() {
    $container.masonry({
      columnWidth: function( containerWidth ) {
        return containerWidth / 3
      }
    });
  });
  
});

    </script>

</head>

 <% include partials/nav.ejs %>

    <div class="container">
    
      
  <% data.forEach(function(user) { %>
     
    <div id = "tade"><h3><li>Name = <%= user.skase %>, Title:<%= user.title %>, Trade Message : <%= user.writes %></h3></li>
      
    
  </div>
  </form>


  <% }) %>

   </div>
   </div>
   </html>
   
    
<% include partials/footer.ejs %>
 